#wrapper-about {
    margin-top: 2%;
    background-size: cover;

    .page_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 406px;
        text-align: center;

        h1 {
            text-transform: uppercase;
            color: #3e3d3d;
            font-weight: 600;
            font-size: 1.375rem;
            font-family: auto;

        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0px !important;
            gap: 4px;

            li {
                font-size: 14px;
                margin: 4px;
                margin: 0 !important;

                span {
                    color: #666;
                }
            }

            a {
                text-decoration: none;
                color: #9faaa7;
            }

            i {
                position: relative;
                font-size: 11px;
                bottom: 1px;
            }
        }
    }
}

#story-content {
    padding-top: 5%;

    .block-ApImage {
        width: 80%;
        height: 100%;
        margin-left: 3%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .content-text {
        text-align: center;
        margin-right: 15%;
        position: relative;
        top: 5%;


        .intro-text {
            h4 {
                font-family: 'WindSong', cursive;
                font-size: 60px;
                color: #213e36;
            }

        }
    }

    .text-about {
        position: relative;
        top: 22px;
        left: 7%;
        padding: 0% 14% 0% 6%;

        p {
            font-size: 14px;
            line-height: 24px;
            color: #4b5955;
            text-align: justify;
        }
    }

    .image-form {
        position: relative;
        top: 41px;

        img {
            width: 97%;
            height: 94%;
        }
    }

    .container-about {
        height: 782px;
    }
}

.btn-hov {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 17px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    text-decoration: none;
    border: 1px solid #58525e;
    font-size: 11px;
    height: 56px;
    width: 148px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    background: linear-gradient(to right, #e9ac98 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;

    i {
        position: relative;
        left: 7%;
    }


}

#our-contact {
    padding-top: 7%;

    .blok-ApRawHtml {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;


        .contact-area {
            text-align: center;
            width: 630px;
            padding-top: 4%;
            padding-bottom: 6%;
            font-size: 24px;
            line-height: 36px;
            color: #000;

            a {

                left: 39%;
                padding: 11px 12px 17px 17px;

                &:hover {
                    color: #000;
                    padding: 11px 35px 17px 17px;
                    background-position: left bottom;
                    border: none;
                    text-align: right;

                    i {
                        position: absolute;
                        left: 20%;
                        top: 24px;
                        transition: all .5s ease-out;

                    }

                }
            }

        }

    }
}

#title_block {
    .sub-title {
        text-align: center;
        padding-top: 8%;

        h2 {
            font-size: 50px;
            font-family: 'Marcellus';
            font-weight: 400;
        }

        img {
            margin-top: 9px;
        }

        p {
            color: #e9ac98 !important;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

}

#about-box {
    padding-top: 6%;

    .about-item {
        .top {
            align-items: center;

            .icon {
                width: 37px;
                height: 37px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                font-size: 20px;
                line-height: 30px;
                color: #000;
                padding-left: 20px;
                width: 147px;
            }
        }

        p {
            margin-top: 36px;
            margin-bottom: 54px;
            text-align: justify;
            font-size: 14px;
            line-height: 24px;
            color: #4b5955;
        }

        a {
            padding: 20px 12px 17px 17px;

            &:hover {
                color: #000;
                padding: 23px 35px 17px 17px;
                background-position: left bottom;
                border: none;
                text-align: right;

                i {
                    position: absolute;
                    left: 20%;
                    top: 26px;
                    transition: all .5s ease-out;

                }

            }
        }

        .our-btn {
            padding: 20px 23px 17px 20px;

            &:hover {
                padding: 23px 12px 17px 0px;

                i {
                    left: 15%;
                }
            }
        }

        .our-bt {
            padding: 21px 11px 17px 0px;

            &:hover {
                padding: 22px 17px 17px 17px;

                i {
                    left: 23%;
                    top: 24px;
                }
            }
        }

        .about-cont {
            margin-bottom: 80px;
        }
    }


}


#block-carousel-about {
    margin-top: 3%;

    .swiper-button-next {
        display: none !important;
    }

    .swiper-button-prev {
        display: none !important;
    }

    .swiper-pagination {
        bottom: 120px;
        gap: di;
        display: flex;
        justify-content: center;
        gap: 22px;

        .swiper-pagination-bullet {
            background-color: #000;
            width: 3px;
            height: 3px;
        }
    }

    .owl-item {
        height: 572px;



        .block-image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 3%;

            img {
                height: 100%;
            }
        }

        .slider-content {
            width: 625px;
            text-align: center;
            position: absolute;
            left: 29%;
            top: 20%;

            .descript {
                padding-top: 4%;
                color: #000;
                font-size: 21px;
                font-style: italic;
                line-height: 40px;
                text-align: center;
            }

            .user-img {

                img {
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    margin-top: -11px;
                }
            }
        }

        .title {
            width: 105px;
            position: relative;
            left: 42%;
            top: 23px;
            color: #000;
            text-transform: uppercase;

            &::after {

                right: -70px;
                content: "";
                height: 1px;
                width: 40px;
                background: #000;
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                left: -70px;
                content: "";
                height: 1px;
                width: 40px;
                background: #000;
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }


        }

        .job {
            margin-top: 28px;
        }

    }


}



hr {
    color: #b4afaf;
}

@font-face {
    font-family: Great Vibes;
    src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}
