#wrapper {
    .page_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;

        h1 {
            text-transform: uppercase;
            color: #3e3d3d;
            font-weight: 600;
            font-size: 1.375rem;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0px !important;

            li {
                font-size: 14px;
                margin: 4px;
                margin: 0 !important;
            }

            a {
                color: #9faaa7;
            }

            i {
                position: relative;
                font-size: 11px;
                bottom: 1px;
            }
        }
    }
}

#story-content {
    padding-top: 10%;

    .block-ApImage {
        width: 80%;
        height: 96%;
        margin-left: 3%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .content-text {
        text-align: center;
        margin-right: 15%;
        position: relative;
        top: 7%;
        

        .intro-text {
            h4 {
                font-family: 'WindSong', cursive;
                font-size: 60px;
                color: #213e36;
            }

            span {
                font-size: 16px;
                color: #9faaa7;
                margin-left: 58px;
                position: relative;
                top: 23px;
            }
        }
    }

    .text-about {
        position: relative;
        top: 18%;
        left: 7%;
        padding: 0% 14% 0% 6%;
        p {
            font-size: 14px;
            line-height: 24px;
            color: #4b5955;
            text-align: justify;
        }
    }
    .image-form{
        position: relative;
        top: 22%;
       img{
        width: 97%;
        height: 94%;
       }
    }
}