#map {
    .container-contact{
        max-width: 1432px !important;
    }
    padding-top: 2%;

    .map-cart {
        iframe {
            width: 100%;
        }
    }
}
@font-face {
    font-family: Playball;
    src: url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
}

.contact-background {
    height: 403px;
}

#wrapper{
    .page_text{
         .contact-p{
        color: #3b4945;
    }  
    }
 
}
#brand-log {
    .contact-top {
        padding: 40px;

        .contact-header {
            text-align: center;
            padding: 30px;

        }

        .contact-title {
            h3 {
                margin-bottom: 3%;
                text-transform: uppercase;
                font-weight: 600 !important;
                letter-spacing: .05em;
                font-size: 34px;
                font-family: "Playball", cursive;
                font-size: 49px;
                font-weight: 500;
                color: #3a504a;
            }
        }

    }
}
#contact-list{
    margin-bottom: 12px;
    .store-name {
        font-family: 'Playball', cursive;
        margin-top: 25px;
    }

    .store-location {
        margin-top: 30px;

        ul {
            line-height: 30px;
        }
    }

    ul {
        list-style: none;
        padding: 0px;

        li {
            a {
                text-decoration: none;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: #676767a8;
            }

            p {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 300;
                color: #676767a8;
            }
        }
    }

    .store-social {
        margin-top: 40px;

        .social {
            display: flex;
            justify-content: space-between;
            width: 100px;
        }

    }
}
