#nav-area {
    padding-top: 2%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(226, 216, 216);
    padding-bottom: 2%;

    .nav-area-content {
        align-items: center;
        position: relative;
    }

    .logo {
        align-items: center;
        display: flex;
        justify-content: center;

        img {
            width: 200px;
            height: 70px;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-right: 57%;

        i {
            font-size: 30px;
            color: #e9ac98;
        }

        .text {
            color: #9faaa7;
            display: block;
        }

        .phone {
            color: #000;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .right-area {
        display: flex;
        gap: 30px;
        float: right;
        right: 13%;
        position: relative;

        i {
            cursor: pointer;
            font-size: 20px;

        }

        .icon {
            color: #333;
        }

        .basket {
            a {
                color: #e9ac98;
            }

        }

        .count-wishlist {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            text-align: center;
            border-radius: 50%;
            font-weight: 700;
            color: #fff;
            background-color: #ef3636;
            display: inline-block;
            position: absolute;
            top: -10px;
            right: 39px;
        }

        .count-basket {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            text-align: center;
            border-radius: 50%;
            font-weight: 700;
            color: #fff;
            background-color: #ef3636;
            display: inline-block;
            position: absolute;
            top: -10px;
            left: 159px;

        }
    }

}

.login-register {
    position: absolute;
    right: 7%;
    top: 73%;
    width: 143px;
    height: 37px;
    border: 1px solid #eaeaea;
    background: #fff;

    ul {
        padding: 0px;
        margin-left: 7px;
        margin-top: 2px;
        display: flex;
        gap: 7px;


        li {
            list-style: none;


            a {

                font-size: 17px;
                color: #666;
                text-decoration: none;

            }

        }

        span {
            color: #666;
        }



    }
}

.login-register-responsive {
    position: absolute;
    right: 9%;
    top: 16%;
    width: 146px;
    height: 31px;
    border: 1px solid #eaeaea;
    background: #fff;
    z-index: 100;

    ul {
        padding: 0px;
        margin-left: 13px;
        margin-top: 2px;
        display: flex;
        gap: 7px;


        li {
            list-style: none;


            a {

                font-size: 17px;
                color: #666;
                text-decoration: none;

            }

        }

        span {
            color: #666;
        }



    }
}

.modal {
    .modal-header {
        img {
            width: 36px;
            margin-left: 10px;
        }

    }

    .modal-body {
        input {
            outline: none;
            width: 56%;
            border-radius: 7px;
            border: 1px solid #8080803b;
            width: 100%;
            padding: 10px 12px;
            color: #808080c7;

            &:focus {
                border-color: #e9ac98;

            }
        }

        h1 {
            font-family: 'WindSong';
            margin-top: 6px;
        }

    }
}

.responsive-modal {
    .modal-content {
        height: 57px;
        width: 100%;
    }

    .modal-header {
        border: none;

        input {
            width: 141%;
            outline: none;
            border: none;

        }
    }
}


#nav-down {
    .count-wishlist {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        font-weight: 700;
        color: #fff;
        background-color: #ef3636;
        display: inline-block;
        position: absolute;
        top: -10px;
        right: 39px;
    }

    .count-basket {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        font-weight: 700;
        color: #fff;
        background-color: #ef3636;
        display: inline-block;
        position: absolute;
        top: -10px;
        left: 113px;

    }

    .right-area {
        display: flex;
        gap: 30px;
        float: right;
        position: relative;
        left: 4px;
        bottom: 45px;

        i {
            cursor: pointer;
            font-size: 20px;

        }

        .icon {
            color: #333;
        }

        .basket {
            a {
                color: #e9ac98;
            }

        }

    }

    .top-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        padding-top: 30px;
        list-style: none;

        li {

            display: inline;
            margin: 3px;


            &:hover {
                color: #e9ac98;

            }
        }

        a {
            font-weight: 700 !important;
            color: #4F4F4F;
            cursor: pointer;
            list-style: none;
            position: relative;
            text-decoration: none;
        }

        .active {
            color: #e9ac98;
        }

    }

}


.side-bar {
    width: 235px;
    background-color: white;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 5;
    transform: translateX(-239px);
    transition: .4s;
    position: fixed;

    span {
        position: relative;
        left: 77%;
        top: 1%;
        color: #000;
    }

    ul {
        list-style: none;
        padding: 0 !important;
        line-height: 52px;

        li {
            border-bottom: 1px solid #eaeaea;
            padding-left: 4%;
            color: #000;
        }

        .activ {
            color: #e9ac98;

        }
    }
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#responsive-nav-area {
    display: block;
    padding-top: 6%;
    gap: 0px;
    right: 0px;

    .count-wishlist {
        width: 17px;
        height: 19px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        font-weight: 700;
        color: #fff;
        background-color: #ef3636;
        display: inline-block;
        position: absolute;
        top: -10px;
        right: 42px;
    }

    .count-basket {
        width: 17px;
        height: 19px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        font-weight: 700;
        color: #fff;
        background-color: #ef3636;
        display: inline-block;
        position: absolute;
        top: -10px;
        left: 148px;

    }

    .hamburger {
        margin-left: 12px;
        position: relative;
    }

    .right-area {
        display: flex;
        gap: 3px;
        float: right;
        position: relative;
        right: 3px;

        i {
            cursor: pointer;
            font-size: 20px;

        }

        .icon {
            color: #333;
        }

        .basket {
            i {
                color: #e9ac98;
            }

        }

        .search {
            position: relative;
            left: 19px;
        }

        .responsive-icon {
            text-align: center;
            height: 33px;
            width: 48px;

            i {
                font-size: 17px;
            }
        }

        .heart-icon {
            color: #333;
            font-size: 18px !important;
        }
    }
}

#footer {
    padding-top: 5%;

    .ApColumn {
        width: 100%;

        ul {
            list-style: none;

            li {
                margin-bottom: 10px;

                a {
                    font-size: 14px;
                    color: #4b5955;
                    text-decoration: none;

                    &:hover {
                        color: #e9ac98;
                    }
                }

            }

        }
    }

    .logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;

        img {
            width: 214px;
            height: 74px;
            cursor: pointer;
        }
    }

    .block-information {
        p {
            font-size: 14px;
            color: #4b5955;
        }

        ul {
            list-style: none;
            padding: inherit;

            li {
                font-size: 14px;
                color: #4b5955;

                span {
                    color: #000;
                }
            }
        }

    }

    .block-social {
        display: flex;
        align-items: center;

        h6 {
            font-weight: 700;
            padding-bottom: 7px;
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding-left: 3%;

            li {
                margin: 5%;
            }

            i {

                cursor: pointer;
                color: #000;
                width: 22px;


            }

            .fa-facebook-f {
                position: relative;
                bottom: 1px;

                &:hover {
                    color: #103e7b;
                }
            }

            .fa-twitter {
                &:hover {
                    color: #5bc0de;
                }
            }

            .fa-pinterest {
                &:hover {
                    color: red;
                }
            }

            .fa-instagram {
                &:hover {
                    color: #4c61b0;
                }
            }
        }
    }
}

#footer-bottom {
    .block-copyright {
        padding-top: 50px;
        padding-bottom: 100px;
        display: block;
        text-align: center;
        color: #4b5955;
        font-size: 14px;

        span {
            color: #e9ac98;
        }
    }
}