//home-for phone
@media (min-width:0) and (max-width:850px) {

    //@HOME-RESPONSIVE-Phone
    #nav-area {
        border: none;

        .nav-container {
            border: none;
        }
    }

  

    #slider {
        .swiper-slide {
            .slide {
                .saleName {
                    top: 24% !important;
                    font-size: 10px !important;
                }

                .sale {
                    top: 38% !important;
                    font-size: 16px !important;
                }

                .caption-contain {
                    font-size: 10px !important;

                }

                .shop {
                    padding: 3px 5px 3px 5px !important;
                    font-size: 5px !important;
                    top: 72% !important;
                }
            }

            .slide-2 {
                .saleName {
                    right: 26% !important;
                }

                .sale {
                    right: 23% !important;
                    top: 35% !important;
                }

                .shop {
                    right: 27% !important;
                }

            }

        }

        .swiper {
            &:hover {
                .swiper-button-prev {
                    width: 40px !important;
                    height: 40px !important;
                }

                .swiper-button-next {
                    width: 40px !important;
                    height: 40px !important;
                }
            }
        }


    }

    .line {
        display: none;
    }

    hr {
        color: #b4afaf;
    }

    #introducing {

        .intro-text {
            text-align: center !important;

            h4 {
                font-size: 30px !important;
            }

            span {
                font-size: 15px !important;
                margin-left: 0% !important;
                top: 15px !important;
            }
        }

        .introducing-text {
            padding: 13% !important;
        }

        .image {
            text-align: center;
            width: 100% !important;

            img {
                width: 93% !important;

            }
        }

        .apImage {
            left: -25% !important;
            bottom: 0% !important;
            top: 5% !important;
            padding-bottom: 18% !important;

        }

        .introducing-right {
            margin-left: 0% !important;
            text-align: center;

            .btn-about {
                margin-left: 107px;
            }

            p {
                font-size: 14px;
            }

            .introducing-image {
                img {
                    width: 93% !important;
                }
            }
        }
    }

    #products {
        .cart {
            .product-img {
                width: 313px;
                margin-left: 32px;
                height: 396px;
            }

            .new {
                top: 2%;
                left: 12%;
            }
        }

    }

    .header-background-content {
        text-align: center !important;

        h4 {
            font-size: 35px !important;
        }

        span {
            font-size: 15px !important;
            margin-left: 0% !important;
            top: 15px !important;
        }
    }

    #featured-products {

        padding-top: 28% !important;
        padding-bottom: 14% !important;

        .header-background {
            position: relative;
            right: 5% !important;
        }

    }

    #about-us {
        padding-top: 24% !important;

        h4 {
            font-size: 30px !important;
        }

        p {
            font-size: 14px !important;

        }

        .btnn {
            .btn-about {
                top: 23px;
                padding: 13px 20px 13px 20px;
            }
        }
    }

    #brides {
        .bride-img {
            text-align: center;
            height: 127%;

            img {
                width: 76%;
                height: 75%;

                &:hover {
                    transform: none;
                }

            }
        }
    }

    #brides-header {
        .header-background-content {
            text-align: center !important;

            h4 {
                font-size: 27px !important;
            }

            span {
                font-size: 11px !important;
                top: 9px !important;
            }
        }

        padding-top: 23% !important;
        padding-bottom: 7% !important;
    }


    #latest-news {
        padding-top: 15%;
    }

    #block-carousel {
        .slide {
            .owl-item {
                height: 422px;
            }

            .block-image {
                padding-top: 0% !important;
                justify-content: start;
                position: relative;

                img {
                    width: 68px !important;
                    height: 53px;
                    position: absolute;
                    bottom: 8px !important;
                    left: 6% !important;
                }
            }

            .descript {
                position: relative;
                width: 370px !important;
                top: 9px !important;
                padding-top: 0% !important;
                right: 17% !important;
                font-size: 18px !important;
                line-height: 31px !important;
            }

            .title {
                font-size: 14px;
                left: 5%;
                top: 71px;
            }

            .sub-title {
                right: 36% !important;
                font-size: 14px !important;
                line-height: 30px;
                top: 68px;
            }

        }

        .swiper-pagination {
            bottom: 17% !important;
        }
    }

    #blogs {
        padding-top: 15%;

        .blog-slider {
            max-width: 92%;
        }

        .blog {
            width: 100%;
        }

    }

    .slick-dots {
        width: 95% !important;
    }

    #subscrive-header {
        padding-bottom: 18%;

        .subscrive-title {
            h3 {
                font-size: 40px;
            }
        }

    }

    #subscrive {
        height: 300px;

        .left-side {
            display: flex;
            justify-content: center;
            min-width: 330px;
            left: 2%;

            h3 {
                position: relative;
                font-size: 58px;
                top: 13%;
            }

            h4 {
                position: absolute;
                left: 20%;
                top: 96%;
                font-weight: 600;
                top: 90px;
                font-size: 22px;
                color: #000;

            }
        }

        .block-content {
            width: 100%;
            top: 0px;
            left: 0px;

            .input-area {
                input {
                    padding-left: 9%;
                    padding-bottom: 2%;
                    width: 100%;
                    border-bottom: 1px solid #fff;
                    font-size: 14px;
                }

            }

            button {
                left: 0px;
                width: 100%;
                height: 55px;
                padding-top: 4%;
                border-bottom: 3px solid white;
            }

        }
    }

    #footer-top {
        padding-top: 25%;
    }

    #footer {
        .ApColumn {
            text-align: center;

            ul {
                padding: 0;
            }
        }

        .logo {
            border: none;
            padding-top: 11%;
        }

        .block-information {
            text-align: center;

            .title_block {
                font-size: 16px;
                font-weight: 700;
                padding-top: 10%;
            }
        }

        .block-social {
            justify-content: center;
        }
    }



    //@ABOUT-RESPONSIVE-Phone

    #nav-down {
        display: none;
    }

    #wrapper-about {
        width: 100%;
        height: 144px;

        .page_text {
            width: 200px;
            height: 100px;
            text-align: center;

            h1 {
                position: relative;
                top: 52px;
                font-size: 22px;
            }

            ul {
                margin-top: 48px;
            }
        }
    }

    #story-content {
        .block-ApImage {
            width: 94%;
            margin-left: 11px;

            img {
                width: 100%;
            }
        }

        .content-text {
            margin-right: 36px;
            .intro-text {
                h4 {
                    font-size: 36px;
                }
            }

            .image-form {
                img {
                    display: none;
                }
            }
            .text-about{
                padding: 0% 6% 0% 6%;
            }
        }

    }

    #our-contact {
        padding-top: 59%;

        .blok-ApRawHtml {
            .contact-area {
                width: 327px;
                padding-bottom: 15%;

                p {
                    margin-right: 18px;
                }

                .btn-hov {
                    left: 24%;
                }
            }
        }

    }

    #title_block {
        padding-top: 23px;

        .sub-title {
            h2 {
                font-size: 36px;
            }
        }

    }

    #about-box {
        .about-item {
            height: 383px;

            .top {
                display: block !important;

                .icon {
                    width: 50px;
                    height: 50px;
                    margin-left: 155px;

                }

                .title {
                    margin-left: 102px;
                    text-align: center;
                    margin-top: 11px;
                }

            }

            .about-text {
                p {
                    text-align: center;
                    line-height: 30px;
                }

            }

            .btn-hov {
                border: none;
                background: none;
                font-size: 12px;
                bottom: 51px;
                left: 96px;
            }

            .our-btn {
                width: 157px;
            }



        }


    }

    #block-carousel-about {

        .slide {
            .owl-item {
                height: 498px;

                .slider-content {
                    width: 125px;
                    left: 13%;
                    top: 11%;

                    .user-img {
                        img {
                            width: 75px;
                            height: 75px;
                            margin-left: 88%;
                        }
                    }

                    .descript {
                        width: 303px;
                        text-align: center;
                        font-size: 25px;
                    }

                    .title {
                        left: 80%;
                        font-size: 14px;
                    }

                    .job {
                        margin-left: 100%;
                    }
                }

            }

        }

        .swiper-pagination {
            bottom: 70px;
        }

    }

}

//responsive for ipad
@media (min-width:750px) and (max-width:1200px) {

    //HOME-RESPONSIVE-TABLET
    #nav-area {
        border: none;

        .nav-container {
            border: none;
        }
    }

    #responsive-nav-area {
        .login-register-responsive {
            right: 10%;

            ul {
                margin-left: 6px;
            }
        }
    }

    #slider {
        .mySwiper {
            .swiper-wrapper {
                .swiper-slide {
                    .slide {
                        .saleName {

                            top: 24% !important;
                            font-size: 40px !important;
                        }

                        .sale {
                            top: 41% !important;
                            font-size: 32px !important;
                            left: 14%;
                        }

                        .caption-contain {
                            font-size: 20px !important;
                            left: 14%;

                        }

                        .shop {
                            padding: 6px 7px 6px 7px !important;
                            font-size: 6px !important;
                            top: 72% !important;
                            left: 14%;
                        }
                    }

                    .slide-2 {
                        .saleName {
                            right: 26% !important;
                        }

                        .sale {
                            right: 23% !important;
                            top: 35% !important;
                        }

                        .shop {
                            right: 27% !important;
                        }

                    }

                }
            }

        }


        .swiper {
            &:hover {
                .swiper-button-prev {
                    width: 40px !important;
                    height: 40px !important;
                }

                .swiper-button-next {
                    width: 40px !important;
                    height: 40px !important;
                }
            }
        }


    }

    #introducing {
        .apImage {
            top: 11% !important;
        }
    }

    #featured-products {
        border-top: 1px solid #f3eeee;
        margin-top: 11%;
        padding-top: 8% !important;
        padding-bottom: 6% !important;
    }

    #about-us {
        padding-top: 13% !important;
    }

    #brides-header {
        padding-top: 14% !important;
        padding-bottom: 4% !important;

    }

    #block-carousel {
        .slide {
            .slider-content {
                left: 38%;
                top: 23%;
            }
        }

    }

    #blogs {
        padding-top: 5%;

        .blog {
            width: 97%;
        }
    }

    #subscrive-header {
        padding-bottom: 10%;

        .header-background-content {
            h4 {
                font-size: 42px !important;
            }

            span {
                font-size: 18px !important;
                margin-left: 0% !important;
                top: 1px !important;
            }

        }

        .subscrive-title {
            padding-top: 2%;

            h3 {
                font-size: 53px;
            }
        }
    }

    #subscrive {
        height: 100%;

        .left-side {
            h3 {
                top: 24%;
            }

            h4 {
                top: 108px;
            }
        }

        .block-content {
            top: 37px;

            .input-area {
                position: absolute;
                top: 26px;
            }

            button {
                height: 55px;
                left: 178px;
                width: 47%;
                padding-top: 7%;
            }
        }


    }


    #footer-top {
        padding-top: 9%;
        padding-bottom: 4%;
    }


    //About-RESPONSIVE-TABLET
    #story-content {
        height: 561px;

        .block-ApImage {
            width: 100%;
        }

        .content-text {
            width: 100%;

            .intro-text {
                h4 {
                    font-size: 48px;
                }
            }

            .text-about {
                padding: 0% 9% 0% 3%;
            }

            .image-form {
                img {
                    display: none;
                }
            }

        }
    }

    #our-contact {
        padding-top: 8%;

        .blok-ApRawHtml {
            .contact-area {
                width: 98%;

                .btn-hov {
                    padding: 9px 30px 18px 30px;
                    font-size: 12px;
                    left: 37%;
                    
    margin-bottom: 11px;
    margin-top: 44px;

                }
            }
        }


    }

    #title_block {
        .sub-title {
            h2 {
                font-size: 48px;
            }
        }
    }

    #about-box {
        .about-item {

            margin-bottom: 60px;
        }
    }

    #block-carousel-about {
        height: 465px;
        .swiper-slide {
            .owl-item {
                .slider-content {
                    width: 100%;
                  
                    .user-img {
                        img {
                            width: 90px;
                            height: 90px;
                            margin-left: 0%;
    margin-right: 25%;

                        }
                    }
                    .descript {
                        width: 595px;
                    }

                    .title {
                        left: 31%;
                    }
                }



            }

        }
    }
    #footer-top-about{
        padding-top: 12%;
        .service-item{
          
            .title{
                font-weight: 400;
                line-height: 43px;
            }
        }
    }
    #footer-bottom{
        display: none;
    }


}

@media(min-width:768px) and (max-width:1200px) {
    #blogs {
        .blog-slider {
            margin-left: 37px;
        }
    }

    #wrapper-about {
        width:100%;
        height: 380px;

        .page_text {
            position: relative;
            top: 27%;
            left: 21px;
        }
    }

}