#wrapper {
    margin-top: 2%;
    background-size: cover;
    .page_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
         width: 406px;
      text-align: center;

        h1 {
            text-transform: uppercase;
            color: #3e3d3d;
            font-weight: 600;
            font-size: 1.375rem;
            font-family: auto;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0px !important;
            gap: 4px;

            li {
                font-size: 14px;
                margin: 4px;
                margin: 0 !important;

                span {
                    color: #666;
                }
            }

            a {
                text-decoration: none;
                color: #9faaa7;
            }

            i {
                position: relative;
                font-size: 11px;
                bottom: 1px;
            }
        }
    }
}
#wishlist-table {
    .table-area {
        box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, .12) !important;
        border-radius: 4px;
        padding-bottom: 32px;
    }

    .table-products {
        margin-top: 53px;
        background: #fff;
        padding-top: 6px;

        .table {
            th {
                height: 48px;
                text-align: center;
                color: rgba(0, 0, 0, .54);
                font-size: 14px;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-color: black;
            }
        }

    }
    th{
        padding: 16px;
    }

    tbody {

        td {
            padding: 8px;
            text-align: center;
            width: 203px;
            height: 103px;
            color: rgba(0, 0, 0, .87);
            font-size: 1rem;
            text-decoration: none;
            font-weight: 500;


            &:nth-child(2) {
                padding-top: 55px;
            }

            &:nth-child(3) {
                padding-top: 55px;
                font-size: 21px;
                font-weight: 500;

            }

            &:nth-child(4) {
                padding-top: 55px;

                button {

                    padding: 0;
                    min-width: 0;
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                    line-height: 40px;
                    outline: none;
                    border: none;
                    background-color: white;
                    cursor: pointer;

                    i {
                        color: rgba(0, 0, 0, .54);
                    }
                }
            }

            a {
                color: rgba(0, 0, 0, .87);
                font-size: 1rem;
                text-decoration: none;
                font-weight: 500;

            }

            img {
                width: 135px;
                height: 133px;
            }

        }

        .price {
            padding-top: 38px;
            font-size: 21px;
            font-weight: 500;
            color: #b47259;
        }

    }

    .footer-wish {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .shop {   
             margin-left: 71px;
            margin-top: 2px;
            background-color: #e9ac98;
            border-color: #e9ac98;
            text-align: center;
            cursor: pointer;
            width: 181px;
            height: 49px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .total-price {
            font-weight: 500;
            font-size: 17px;
            margin-right: 90px;
        }



    }

}
hr {
    color: #b4afaf;
}
@font-face {
    font-family: Marcellus;
    src: url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
}